[2020-05-07 08:11] bminixhofer opened #3 "Python bindings frequently segfault"
Python bindings frequently cause a segfault. This has apparently been resolved by https://github.com/PyO3/pyo3/commit/7b1e8a6daff70bffd7bf7b5b7297fd257ecde2e2 which is not yet released.

Current solution: Depend on a pyo3@master:

`pyo3 = {git = "https://github.com/PyO3/pyo3", rev = "e6f8fa7"}`

and a `rust-numpy` fork which uses the same rev:

`numpy = {git = "https://github.com/bminixhofer/rust-

[2020-06-22 01:00] aguang-xyz opened #5 "More language support."
Hi, a lot of thanks to your project.

In the README, it says:

Where can I can find models for other languages except English and German? Or could you tell me how to train my own model for other languages step by step? I'm happy to contribute for providing more models.

Thank you,
Guangrui Wang

[2020-06-22 14:58] bminixhofer commented on #5
Hi! Thanks for your interest!

So first off, I've been working a major rewrite so not much of the stuff in the README is up to date with the current code in the repository - apologies for that.

NNSplit needs some "teacher" tokenizer to learn from. The latest release uses [SoMaJo](https://github.com/tsproisl/SoMaJo) which only supports English and German. I have switched this to spaCy so now NNSpl

[2020-06-23 02:10] aguang-xyz commented on #5
Hi! Thanks for your reply.

The reason why I'm interested in your project is I'm working on [an automatic captioning program](https://github.com/aguang-xyz/auto-caption). Biefly after speech recognization, I have a sort of words without punctuations. Your library is exactly what I want to help splitting words into sentences. I've integreted your library to support English captions, if more languag

[2020-06-24 21:01] bminixhofer commented on #5
Ok, good to hear! I'm working on it. Will probably take some time though because I'm quite busy at the moment.

[2020-06-26 09:28] adrien-jacquot commented on #5
Hello!
Just to mention that I have a similar interest: having a French model (I'll be using NNsplit in Python).
Looking forward to the new release :)

[2020-06-26 12:10] bminixhofer commented on #3
Fixed by 8b759282ddd599584713aa1b936e00c7c1cbb257.

[2020-06-26 12:10] #3 closed

[2020-07-02 13:54] MiniXC opened #6 "show progress"
I'm currently using nnsplit on a fairly big dataset. Is it possible to track progress on a long list of inputs?

[2020-07-04 16:27] bminixhofer commented on #5
I finally made some good progress on this!

https://github.com/bminixhofer/nnsplit/blob/master/train/train.ipynb is a Colab notebook which walks through training a custom model, installing the latest nightly NNSplit version, and using it for inference from Python.

The nightly version is reasonably stable, and I don't expect the public API to change anymore. It is also 10-50 times faster than the

[2020-07-05 04:10] aguang-xyz commented on #5
Good to hear your progress! I'm appreciated to learn from you.

[2020-07-05 09:23] bminixhofer commented on #5
Great! You can actually go ahead and try the notebook now if you want. It shows training on a custom dataset and loading the model for inference.

[2020-07-17 19:50] bminixhofer commented on #5
I just released the new version!

I also finished the evaluation but I'm not 100% satisfied with the results yet, I'll retrain the model next week when I have access to better hardware (and maybe see if I can improve the architecture a bit).

Feel free to train models for other languages :)

[2020-09-05 19:13] mooreniemi opened #9 "rust installation failure on 0.3.1"
Followed your Rust instructions and am hitting this failure:

[code]

When I look inside `.cargo/registry/src/github.com-1ecc6299db9ec823/nnsplit-0.3.1/` I see there is no `models.csv`. If I manually add it by copying down [raw](https://raw.githubusercontent.com/bminixhofer/nnsplit/master/models.csv), it still fails on the path.

[2020-09-05 19:30] bminixhofer commented on #9
Hi, thanks for reporting! Was kind of a silly mistake, I just pushed a fix. I'll do a release when it passes CI.

[2020-09-05 21:20] bminixhofer commented on #9
This is now fixed as of version 0.3.4

[2020-09-05 21:20] #9 closed

[2020-09-05 22:03] EmilStenstrom commented on #5
Not sure if this is the correct issue to ask for this, but pre-trained models for more languages would be fantastic! It's 100x easier to just use a pre-trained model compared to training one from scratch...

[2020-09-06 08:49] bminixhofer commented on #5
Yes it is! I'll soon™ have access to better hardware again. I'll try improving the models then and can also train models for other languages if there is demand.

Is there a specific language you would need a model for? I can add a wish list for languages at the top of this issue, but I won't just train models for every language I can think of if there's no one who will use them.

[2020-09-06 13:39] EmilStenstrom commented on #5
I'm currently exploring different libraries to build my project on, so having pre-trained models to support for them here is of course a plus for using nnsplit. I understand that providing pre-trained models for many languages is a little bit of a chicken and egg problem: if they exist you increase the chance that they'll be used, but before you know that they will be used it's not worth the effor

[2020-09-06 20:15] bminixhofer opened #11 "Language wishlist"
A list of languages currently considered for training and adding to the Repo:

- [x] Swedish
- [x] Norwegian
- [x] French
- [x] Turkish
- [x] Simplified Chinese
- [x] Russian
- [x] Ukrainian
- [ ] Catalan
- [ ] Dutch
- [ ] Farsi
- [ ] Italian
- [ ] Portugese
- [ ] Spanish
- [ ] Vietnamese
- [ ] Traditional Chinese

I'll see if I can train models for languages on this list. If you want to speed it

[2020-09-06 20:16] bminixhofer commented on #5
Thanks, great. I created a separate issue (#11) since I realized I didn't open this one and added the languages there.

[2020-09-06 20:16] #5 closed

[2020-09-07 07:55] adrien-jacquot commented on #11
Hello!
Can you add French to the list?

Thanks :)

[2020-09-12 01:44] SutirthaChakraborty commented on #11
Can you please Add Turkish ?

[2020-09-12 07:02] bminixhofer commented on #11
Sure!

[2020-09-12 09:57] SutirthaChakraborty commented on #11
THanks, will you add it today or later ?

[2020-09-12 10:05] bminixhofer commented on #11
I added it to the list. I can't promise when I'll get around to training it.

[2020-09-12 10:13] SutirthaChakraborty commented on #11
[drive-download-20200912T101135Z-001.zip](https://github.com/bminixhofer/nnsplit/files/5212516/drive-download-20200912T101135Z-001.zip)
I have trained them on your training code, can you see and update today please ?

or can you tell me how can I use the model on these code

def recognize_speech(wav_path, lang="en", buffer_size=4000):

    download_model(lang)

    vosk.SetLogLevel(-1)

    wav_fi

[2020-09-12 12:29] senemaktas commented on #11
Hey good match , I was looking that very long time ....

[2020-09-12 13:17] bminixhofer commented on #11
Thanks for training the model! Your torchscript exported model was somehow broken.. Which pytorch version do you use?

I managed to recover it using the weights from the ONNX graph. This should work:
[torchscript_cpu_model.zip](https://github.com/bminixhofer/nnsplit/files/5212701/torchscript_cpu_model.zip)

(rename it from .zip to .pt, I'm too lazy to upload it externally right now)

Load it like

[2020-09-12 13:27] SutirthaChakraborty commented on #11
Thanks a ton.  Great work.

[2020-09-13 14:33] aguang-xyz commented on #11
Could you please also add Simplified Chinese? Thanks a lot.

[2020-09-13 14:39] SutirthaChakraborty commented on #11
Hi,
You can use this file for training, just change the link of the file given below.
https://github.com/bminixhofer/nnsplit/blob/master/train/train.ipynb

Chinese library
https://linguatools.org/tools/corpora/wikipedia-monolingual-corpora/
https://www.dropbox.com/s/hp1saohatuxm1mv/zhwiki-20181001-corpus.xml.bz2?dl=0

All the best

Regards,
Suti.

[2020-09-18 15:22] hobofan opened #13 "Use ONNX models everywhere due to TorchScript instability"
Hey, there! I was trying to run the Rust example from the README, but got the following error on a `cargo run`:

[code]

Let me know it there is any more info you need for debugging!

[2020-09-18 15:52] hobofan opened #14 "Publish 0.3.x python wheels for Linux/non-macOS platforms"
After running into #13, I tried to use the Python bindings instead. It worked, but I noticed that installed version `0.2.2` (saw it didn't match up with the documentation in the README).

After digging into it a little bit, I saw that `0.2.2` was the last release with a platform-agnostic wheel available. All 0.3.x wheels seem to be built specifically for macOS, and are not installable on my Linux/

[2020-09-18 16:01] bminixhofer commented on #13
Hi! Thanks for reporting. There is some weirdness going on with the TorchScript models, they seem *very* prone to breaking between PyTorch versions ([related](https://github.com/bminixhofer/nnsplit/issues/11#issuecomment-691486369)).

[Tract](https://github.com/sonos/tract) has evolved quite a bit recently. It should be possible to replace tch-rs with tract now and replace PyTorch with onnxruntime

[2020-09-18 16:04] hobofan commented on #13
Nice! Saw that you also contributed to Tract, but thought suggesting to swap out the backend would be a bit much of an ask :sweat_smile:

[2020-09-18 16:08] bminixhofer commented on #14
Great catch! Was an oversight on my part, I'll see if I can do a quick release to fix it. In the meantime, you can use the [latest wheels built from master](https://github.com/bminixhofer/nnsplit/releases) (they are built for manylinux1).

[2020-09-18 16:24] hobofan commented on #14
Ah, great, didn't see those :)

I think maturin is packing them under a different package name than you are intending to, though? After installing the wheel, no module `nnsplit` is available, and it looks like it installs them as `nnsplit-python`.

[2020-09-18 16:29] doublex opened #15 "JS Usage example & Node.js support"
Would it be possible to add a simple "usage" for node.js?

[2020-09-18 16:30] bminixhofer commented on #14
It's complicated. You can't easily change the wheel name with maturin (see https://github.com/PyO3/maturin/issues/313), and I can't use "nnsplit" because that would clash with the nnsplit core Rust module.

In the release script I use a hacky workaround: https://github.com/bminixhofer/nnsplit/blob/3baaa15be23f68fd83237eefdc910b1a0b4de6c2/release.sh#L25-L31

but I didn't yet bother for the nightly

[2020-09-18 16:40] hobofan commented on #14
Just to clarify: Are you saying it should work with the workaround that's not yet in the nightly wheels, or should it already be working with the current nightly wheels. Because right now I get (after a successful install of the wheel):

[code]

[2020-09-18 16:56] bminixhofer commented on #14
It should already work. Are you sure you're using the same Python interpreter? I just tried this on my machine with a new venv:

[code]

[2020-09-18 18:21] hobofan commented on #14
You are right. Looks like I wasn't using the my poetry venv :roll_eyes:

[2020-09-18 20:20] bminixhofer commented on #15
Hi, sure. Javascript support is somewhat experimental and [tractjs (the JS backend for NNs) has only recently got support for Node.js](https://github.com/bminixhofer/tractjs/issues/8). I only tested NNSplit in the browser so far and it was less important to me because I didn't need it personally and heard from no one that did.

But I can definitely add a usage example for JS and see where we stand

[2020-09-18 20:20] bminixhofer commented on #14
Great! Let me know if you have any more issues.

[2020-09-18 20:37] bminixhofer commented on #13
There's one more thing I hadn't considered earlier today: switching to tract as backend would mean committing to __not__ supporting GPU inference in Rust. That's not ideal but for me it would not be a problem. If there is demand we could still switch to onnxruntime Rust bindings once there are reasonably good ones (still very basic at the moment from what I've seen).

Just thought it would be good

[2020-09-19 09:21] bminixhofer commented on #15
Hi, I'd like to keep this open to track Node.js support and remind me of adding a usage example :)

[2020-09-19 09:41] doublex commented on #15
Great news!

[2020-09-20 08:04] bminixhofer commented on #13
Ok, as of release 0.4.1 ONNX models are used everywhere with tract as backend for Rust and onnxruntime as backend for Python! I'm really happy about this change.

When I started working on NNSplit it was simply not possible to use the same model for Rust, Python and Javascript but now that tract has gotten better and there's tractjs it works quite seamlessly :)

I've done a quick, approximate benc

[2020-09-20 08:04] #13 closed

[2020-09-20 08:05] bminixhofer commented on #14
This is a bit more complicated than I thought, I'll have to move the release script to CI. But will be done soon.

[2020-09-21 08:36] hobofan commented on #13
The Rust library works great now!

Thanks so much for the quick turnaround! :)

[2020-09-21 09:36] bminixhofer commented on #14
After lots of blood, sweat and tears this is now working :wink:. Windows, Linux and MacOS wheels are built, tested and released in CI as of v0.4.9. Only caveat is that the Python version is x-post0 for any version x. That was the only way to avoid version clashes while building the Python bindings if they're called `nnsplit` instead of `nnsplit-python`. Would be solved by being able to change the

[2020-09-21 09:36] #14 closed

[2020-09-21 09:47] bminixhofer commented on #13
Good to hear! To be honest I hadn't considered it was possible to completely switch to ONNX before this issue, but I was aware of the TorchScript problems. So this issue was a nice little push to make the switch :)

[2020-09-21 18:35] bminixhofer commented on #15
I just added Node.js support. Starting from 0.4.10 NNSplit is built and tested for Node.js and there's a simple usage example [in the README](https://github.com/bminixhofer/nnsplit#nodejs).

[2020-09-21 18:35] #15 closed

[2020-09-29 17:38] Navaneethsen opened #18 "The split does not look right for this particular case."
Hi,

My sentence is as shown below:
`What's working and what needs to change? Not everybody Dr.Jones, has the opportunity to watch themselves after they've had a date to see what they're doing right or wrong, so that you will only know what to do in the next day. Yeah, but it's such an important exercise that they needed to do. Last week they went on their first date, which is a huge step for our

[2020-09-30 08:08] bminixhofer commented on #18
Hi, generally the splitter will make some mistakes, it's a statistical model. For this specific text, you can fix the mistake by increasing the threshold (default is 0.8):

[code]

but then it will miss some other splits, especially where punctuation is missing.

That said I am not entirely satisfied with the quality of the current model, I'll try some things to improve it.

[2020-09-30 08:08] #18 closed

[2020-10-01 14:12] MiniXC opened #19 "PanicException with 0.4.*"
After installing the new version, I get the following exception when running ``NNSplit.load("en")``.

[code]
This occurs both with and without ``onnxruntime-gpu`` installed.

[2020-10-01 14:16] MiniXC commented on #19
I think this could be because I still have an old version of the model cached somewhere, is there some way to clear the cache?

[2020-10-01 14:32] bminixhofer commented on #19
Weird. You can try clearing the cache, probably at `~/.cache/nnsplit/` on Linux. But I don't see how the cache could be a problem, the model hasn't changed since 0.3.x. I'll look into better reporting of errors from Python.

[2020-10-04 16:15] MiniXC commented on #19
haha just a prank, it works now

[2020-10-04 16:19] #19 closed

[2020-10-04 16:20] bminixhofer commented on #19
For anyone else with this problem: `pip install --upgrade --ignore-installed nnsplit` seems to have fixed this here.

[2020-10-16 20:30] hyperfraise commented on #11
Very interested in french model as well !

[2020-10-17 11:43] bminixhofer commented on #11
I was a bit busy lately. I'm now working on training and evaluating all models currently in the list (Norwegian, French, Swedish, Turkish, Simplified Chinese). Will be done tomorrow.

I also improved the model a bit, it's now faster and more accurate through a downsampling trick (downsample -> LSTM -> upsample).

[2020-10-19 07:09] bminixhofer opened #20 "Incorrect splits"
Please report here issues similar to https://github.com/bminixhofer/nnsplit/issues/18, i. e. text where it is easy for humans to see the correct split but NNSplit gets it wrong.

I'm not entirely satisfied with the quality of the models yet, such cases might help improve it.

[2020-10-19 07:14] bminixhofer commented on #11
I trained all the models and released them as Release 0.5.0.

You can now do:

[code]

Training went well, metrics are in the README.
I'll have to retrain the chinese model though: Chinese punctuation (e. g. ` 。 `) is not in `string.punctuation` so it wasn't getting removed.

Also, as I mentioned, I made some improvements to the model architecture so it's quite a bit more accurate now.

[2020-10-19 08:57] EmilStenstrom commented on #11
@bminixhofer Awesome! This is super helpful, thank you for putting effort into helping random people on the internet! :D

[2020-10-21 07:03] bminixhofer commented on #11
You're welcome!

[2020-11-01 11:25] bminixhofer commented on #6
As of v0.5.2 this is now supported via a `verbose` argument to `.split(..)`, but only for the Python bindings. Like this:

[code]

[2020-11-01 11:25] #6 closed

[2020-11-01 11:27] bminixhofer commented on #11
@aguang-xyz As of 0.5.2 I retrained the Chinese model with fixed punctuation removal. It should now work properly for text without punctuation. Metrics are still not very good but consistently better than Spacy.

[2021-02-01 14:27] QuantumEntangledAndy opened #25 "Build Python 3.9 Wheels"
When trying to install into python3.9 it will not install a version later than 0.2.2. I am not certain but I believe that this is because wheels are only build for versions 3.6, 3.7 and 3.8. Would it be possible to add wheels for the 3.9 version?

[2021-02-01 14:35] bminixhofer commented on #25
Hi, sorry about that! That is indeed the issue.

I'll build for Python 3.9 and release.

[2021-02-01 15:01] bminixhofer commented on #25
Unfortunately onnxruntime does not yet support Python 3.9: https://github.com/microsoft/onnxruntime/issues/6125 and https://github.com/microsoft/onnxruntime/issues/5697.

They say:

So until then NNSplit can unfortunately not support Python 3.9. If you really want to use NNSplit with 3.9 I just manually built a wheel for Linux:

[Uploading nnsplit-0.5.2_post0-cp39-cp39-manylinux2014_x86_64.zip…]()

[2021-02-02 19:38] MiniXC commented on #19
When getting PanicExceptions when using gpu, downgrading to ``onnxruntime-gpu==1.4.0`` fixed it for me.

[2021-02-03 11:33] marlon-br commented on #11
Hi, could you please add Russian?

[2021-02-03 11:41] egorsmkv commented on #11
And for Ukrainian if this is not so hard. Anyway, I will try to build a model by myself using informatino from the notebook.

[2021-02-03 11:49] bminixhofer commented on #11
Hi, sure!

I added them to the list. I'll give training them a go as well starting with Russian.

[2021-02-03 12:27] UncleLiaoNN opened #26 "Porting to Android"
Hi, I am trying to run onnx model on Android and have sharted with the steps like is described there: https://github.com/onnx/tutorials/blob/master/tutorials/PytorchCaffe2MobileSqueezeNet.ipynb

[code]

Unfortinately I receive an error:

[code]

Could you please what could be the issue? I use EN model and Google Colab

[2021-02-03 12:40] UncleLiaoNN commented on #26
`onnx-tf convert -i "model.onnx" -o  "model.pb"  `
gives the same result

[2021-02-03 12:49] bminixhofer commented on #11
@egorsmkv I noticed there is some code hardcoded to use a compound splitter at the moment, it needs some small changes in `train.py` to remove that. I'll fix it so you can train a model.

[2021-02-03 13:52] bminixhofer commented on #26
Which version of the `onnx` package are you using? I just tried this locally:

[code]

You could also try redownloading the model, maybe it is corrupted somehow:

[code]

[2021-02-03 14:02] UncleLiaoNN commented on #26
Thanks for the support, yes, it looks like something went wrong with the model. I was able to load it, but the next steps still seems to be tricky:

[code]

gives an error:
`IndexError: Input embedding.weight is undefined!`

And I have tried:
`onnx-tf convert -i "model.onnx" -o "model.pb"`
and it fails with the error:
`ValueError: Input size (depth of inputs) must be accessible via shape inference

[2021-02-03 14:11] bminixhofer commented on #26
The problem here seems to be that `onnx-tf` does not support dynamic dimensions. If you visualize the ONNX model (https://netron.app/ is excellent!) you'll see that the input has dimension `batch x length` so they do not have fixed values.

Someone else had the same issue: https://github.com/onnx/onnx-tensorflow/issues/593

Converting ONNX to another format is in general problematic. Are you sure

[2021-02-03 14:24] UncleLiaoNN commented on #26
Well, I just follow the "official tutorial" from ONNX: https://github.com/onnx/tutorials/blob/master/tutorials/PytorchCaffe2MobileSqueezeNet.ipynb

I thought that it should be the right way, since ONNX guys recommend to use it.

[2021-02-03 14:30] bminixhofer commented on #26
Right, in that case converting to caffe2 might work. Converting with `onnx-tf` will not work.

Unfortunately I can't help that much with this problem. The ONNX model is well-formed (e. g. works in both tract and onnxruntime) so it is not a problem with NNSplit itself. It is exported here:

https://github.com/bminixhofer/nnsplit/blob/27705186bcdc340796b5a44d382e7d787aab69de/train/model.py#L143-L175

[2021-02-03 14:31] UncleLiaoNN commented on #26
I have added a couple of workarounds from https://github.com/onnx/onnx/issues/2902

this one:
https://github.com/onnx/onnx/issues/2902#issuecomment-662634157
and this one:
https://github.com/onnx/onnx/issues/2660#issuecomment-605874784

now I was able to call onnx_graph_to_caffe2_net succesfully and get two .pb files. Next is to check if they are correct

[2021-02-03 14:32] bminixhofer commented on #26
One thing you could try: If you can run Javascript on Android (not sure how easy this is; I have no experience with Android Apps) you could use the JS bindings for nnsplit: https://www.npmjs.com/package/nnsplit

[2021-02-03 14:34] bminixhofer commented on #26
Great! Recall that the model takes utf8 encoded bytes as input and returns two numbers for each byte, first whether there is a sentence boundary at this position and second whether there is a token boundary. Good luck.

[2021-02-03 20:30] bminixhofer commented on #11
The `train.ipynb` notebook is up to date now and the compound splitter issue fixed so training a model should work now.

I trained a model for Russian already and it looks good, I'll train another one for a bit longer and a Ukrainian model over night.

[2021-02-04 00:23] nikolayWK commented on #26
@bminixhofer I was able to build https://github.com/microsoft/onnxruntime for Android.
I am able to load nnsplit onnx model but for our case there is a showstopper issue: https://github.com/microsoft/onnxruntime/issues/6261

uint8 is not supported as input on Java level. Do you have an idea how to change the model to workaround the issue?

For now I get an error:
`Error code - ORT_INVALID_ARGUMENT

[2021-02-04 00:25] UncleLiaoNN commented on #26
@bminixhofer I was able to build https://github.com/microsoft/onnxruntime for Android and now I am able to load nnsplit onnx model. But for our case there is a showstopper issue: microsoft/onnxruntime#6261

uint8 is not supported as input on Java level. Do you have an idea how to change the model to workaround the issue?

For now I get an error:
Error code - ORT_INVALID_ARGUMENT - message: Unexpec

[2021-02-04 07:47] bminixhofer commented on #26
Modifying the ONNX model to change the input type is apparently not easy (https://github.com/onnx/onnx/issues/2738). You can either do that (somehow) or reexport the model. In that case you have to change this line to a supported dtype:

https://github.com/bminixhofer/nnsplit/blob/fef0a94807d9a3f8195673f0cbe1c247d89d9e42/train/model.py#L157

To reexport the model you'll have to either train a new

[2021-02-04 14:47] bminixhofer commented on #11
Russian and Ukrainian are now trained & integrated in the Repo. Would be great if you could do a quick sanity check @egorsmkv @marlon-br i.e. check if they split text without errors correctly, don't split on abbreviations and split text with some missing punctuation and case correctly using the demo:

https://bminixhofer.github.io/nnsplit/#demo

since I speak neither of these languages. Metrics al

[2021-02-04 14:56] marlon-br commented on #11
@bminixhofer I tried Russian sample text. After I removed one coma (between воплощение and построенная) it started to split the sentence on two sentences. In this case second sentence doesn't make sence because it is totally dependent on the first part of the original sentence.

[2021-02-04 15:36] UncleLiaoNN commented on #26
@bminixhofer thanks for the advises! is it possible that you share slices.pkl and texts.txt for supported languages? I think it could be useful for anyone who want to check \ repeat training process

[2021-02-04 18:21] bminixhofer commented on #26
The [train notebook](https://github.com/bminixhofer/nnsplit/blob/master/train/train.ipynb) contains a guide how to obtain those. From the command line you can do e. g.

[code]

where the `.xml` file is a dump from [linguatools](https://linguatools.org/tools/corpora/wikipedia-monolingual-corpora/).

[2021-02-04 18:23] bminixhofer commented on #11
Thanks for checking! There seems to have been a problem with `,` also being removed as punctuation during training. This might also impact some other languages, I'm retraining the affected models.

[2021-02-04 18:30] UncleLiaoNN commented on #26
@bminixhofer thats true. I just thought you have all of them on google drive

BTW, I wes able to try change from torch.uint8 to torch.int8. it helped. but now I have and issue with some sort of onnx reshaper

`Non-zero status code returned while running Reshape node. Name:'Reshape_46' Status Message: reshape_helper.h:38 onnxruntime::ReshapeHelper::ReshapeHelper(const onnxruntime::TensorShape &, st

[2021-02-04 18:39] bminixhofer commented on #26
I haven't and I would not have enough space to upload all of them. Anyway, it's not important IMO because you can generate them quite easily.

Can you try an even input shape? The model downsamples the input by a factor of 2, runs it through the LSTM, then upsamples it to make it faster. In NNSplit the input length is always padded by zeros to be even. There is also some fixed padding with zeros a

[2021-02-04 18:49] UncleLiaoNN commented on #26
@bminixhofer even shape works. so I need to encode string to UTF-8, add padding to start and end and make it even?

[2021-02-04 18:54] bminixhofer commented on #26
Great! Yes, exactly.

[2021-02-04 18:56] UncleLiaoNN commented on #26
@bminixhofer could you please advice about the retunr values? How should I understand floats?

[2021-02-04 19:01] bminixhofer commented on #26
It returns for each element in the input sequence 2 values. From above:

So you'll need some threshold (default in nnsplit is 0.8), you consider values above this as boundary. Then e. g. these values:

| a | s | d | f | g |
|---|---|---|---|---|
| 0 | 0 | 1 | 0 | 1 |

would result in these splits: `["asd", "fg"]`. And as I said the first value indicates sentence boundaries, the second value token

[2021-02-04 19:11] UncleLiaoNN commented on #26
For now most of the values are negatives between -10 and 0, do you think this is correct output in general?

![image](https://user-images.githubusercontent.com/78482993/106942920-cc183c00-6735-11eb-9faf-ba6f7ae35ad4.png)

[2021-02-04 19:13] bminixhofer commented on #26
Oh you need a sigmoid on top of it.

[2021-02-04 19:56] UncleLiaoNN commented on #26
@bminixhofer ok, done. thank you!

now just to double check about UTF-8:

for example, for
[code]
gives input shape (1, 24)  - 24 because of 13 bytes in b + 10

and next outputs for

sentence boundaries:
[code]
and token boundaries:
[code]
does these numbers seems to be reasonable?

[2021-02-04 21:00] marlon-br commented on #11
@bminixhofer I think that it would be a great synergy if you add all languages that are supported by vosk:
https://alphacephei.com/vosk/models
A lot of people would be very interested to get sentence boundaries etc. for the texts from ASR

[2021-02-05 09:06] egorsmkv commented on #11
Just tested with Ukrainian sentences, looks really good! Thank you, Ben!

[2021-02-05 09:57] bminixhofer commented on #26
Great! You're welcome.

[2021-02-05 09:57] #26 closed

[2021-02-05 09:58] bminixhofer commented on #11
Great. I'm retraining the models for 10 epochs to match the other models and fixed the punctuation issue, release will be latest on Monday.

[2021-02-05 10:04] marlon-br commented on #11
@bminixhofer did you change something in the code or training script to fix the punctuation? I started to train Russian model by my own. Would like to understand if I should fix something too

[2021-02-05 10:27] bminixhofer commented on #11
Yes, I just pushed the commit. The nnsplit training procedure is just:
- split sentences using SpaCy from a corpus which is assumed to not contain any punctuation errors
- with some probability, remove punctuation at the end of the sentences
- train a sequence labelling model, where for each byte the label is 1 if it is the last byte in the current sentence, zero otherwise

The problem was that he

[2021-02-05 10:44] marlon-br commented on #11
@bminixhofer I see, thanks!

How many time does it generally takes to train for 10 epochs?

[2021-02-05 10:52] bminixhofer commented on #11
The bottleneck is often the SpaCy sentencizer. On my machine with an RTX 2080TI it takes ~ 2 hours for Ukrainian and ~ 10 hours for Russian.

Also, I should've said train with 10M samples. One epoch in the `train.ipynb` is set to use 500k samples and set to 1M by default in the Python scripts.

[2021-02-05 20:33] marlon-br commented on #11
@bminixhofer I run Russian language model training on Google Colab Pro with V100 and it takes 2 hours for one epoch. So I expect it will take about 20 hours for 10 epochs. And this is 2 times more than you expect to have in your setup. But V100 is faster than 2080, so I wonder why it is longer

[2021-02-05 21:01] bminixhofer commented on #11
It could very well be CPU bound. I use an i5 8600k.

[2021-02-06 10:30] bminixhofer commented on #11
Ukrainian and Russian updated models are now in the Repo. Both are significantly better now but in Russian there is still the same issue with the comma in the example text, I don't think there is anything I can do about that.

@marlon-br If you're training models you might be interested in https://wandb.ai/bminixhofer/nnsplit where I track the experiments e. g. https://wandb.ai/bminixhofer/nnsplit

[2021-02-06 11:29] marlon-br commented on #11
@bminixhofer AFAIK commas in Russian (and similar languages) are tricky even for native speakers. They have much more importance and sence than in other languages:)

[2021-02-06 22:00] bard opened #27 "Missing file in NPM package?"
I'm trying to import nnsplit in a JavaScript project, and webpack is failing with:

[code]

Looking in `node_modules/nnsplit/nnsplit.bundle`, indeed the file `nnsplit_javascript_bg.js` is referenced by `package.json`, but missing from the filesystem.

(Not sure though whether that's the real culprit, as the nodejs example seems to work as intended.)

[2021-02-07 10:12] drahnr opened #28 "use concrete error types"
There is a bit of an issue with the error bounds in rust when being as lax as `Box<dyn Error>` - most error frameworks expect the error type bounded to be `Error + Send + 'static`.

For a library it's common to implement a custom error type which is then exposed to the user, which wraps all possible internal error types. Currently the tool of choice (imho) is `thiserror`.

Moving to concrete error

[2021-02-07 11:48] bminixhofer commented on #28
Thanks for this issue, I agree. I also think `thiserror` is the best choice.

By the way, just to make sure you know: nlprule does sentence boundary detection internally using [`srx`](https://github.com/bminixhofer/srx) now: https://github.com/bminixhofer/nlprule/pull/22

In any case this is a valid issue. PRs are welcome, I might also implement this myself.

[2021-02-07 15:32] drahnr commented on #28
Thanks, I missed that PR. That simplifies life for me significantly :)

[2021-02-08 06:52] poor1017 commented on #26
@UncleLiaoNN Hi, about the error

have you solved it?

I have the same problem, and my model consists of vgg and rnn.

[2021-02-08 09:13] UncleLiaoNN commented on #26
@poor1017 no, i was not able to address this issue when run "onnx-tf convert" cmd.
But I was able to convert the model with the workarounds from this comment:  https://github.com/bminixhofer/nnsplit/issues/26#issuecomment-772552820

[2021-02-08 09:39] poor1017 commented on #26
@UncleLiaoNN Thank you for replying, en..... I have to split the model into vgg.pb and rnn.pb.

[2021-02-08 12:11] UncleLiaoNN commented on #26
@poor1017 please try to follow the tutorial from initial post: https://github.com/onnx/tutorials/blob/master/tutorials/PytorchCaffe2MobileSqueezeNet.ipynb

or try to use onnxruntime to run without splitting:)

[2021-02-09 08:14] UncleLiaoNN opened #29 "EN model training in Google Colab"
Hello, with use of Google Colab I was able to train a model for Russian language.
But when I start training a model for English language with `trainer.fit(model)`, it floods output (hundreds of messages):
[code]
and connection to runtine is lost

Do you have an idea how I could get rid of this output mesages?

Link to Colab: https://colab.research.google.com/drive/1xjrD1ZvkzLypbuYaywkf7yHy9UAjYq-g

[2021-02-09 09:05] bminixhofer commented on #29
IIRC I got some of these messages too. A quick fix is downgrading to Spacy < 3 (you'll only have to change `nlp.add_pipe("sentencizer")` to `nlp.add_pipe(nlp.create_pipe("sentencizer"))` somewhere in the `labeler.py`. I'll see if I can reproduce this.

[2021-02-09 09:14] bminixhofer commented on #27
This seems to be a valid issue. As you said I think `./nnsplit_javascript_bg.js` is missing. The Node.js build is built differently so it is not affected. Not sure *why* it is not included, I'll look into this.

[2021-02-09 10:58] UncleLiaoNN commented on #29
@bminixhofer ok, thanks for the workaround, now there is no annoying messages

but not it says that 1 epoch with the same paramenters take 15 minutes instead of ~2 hours for original setup:)

[2021-02-09 12:12] UncleLiaoNN commented on #26
@bminixhofer Since required change (uint8->int8) is very small, very easy code allows to open -> save model with another input type:
[code]
(actually it chages only one byte (from 0x02 to at 0x03 the end of the .onnx file)

it works like a charm!:)

3 in INT8 and 2 is UINT8 from: https://deeplearning4j.org/api/latest/onnx/Onnx.TensorProto.DataType.html

[2021-02-09 12:38] bminixhofer commented on #26
Cool, thanks. That's good to know! I'm a bit surprised that it casts correctly s. t. 0 <=> -127, 127 <=> 0, 255 <=> 128 etc. for the embedding lookup but if it works it works :)

[2021-02-09 12:53] nikolayWK commented on #26
@bminixhofer As far as I understand the model itself is not uint8 bounded? it is only for store step

[2021-02-09 12:55] nikolayWK commented on #26
@bminixhofer As far as I understand the model itself is not uint8 bounded? It is only for store step?

[2021-02-09 12:56] UncleLiaoNN commented on #26
@bminixhofer As far as I understand the model itself is not uint8 bounded? It is only for store step?

[2021-02-09 12:59] bminixhofer commented on #26
Well the uint8 input is fed directly into the embedding layer:

https://github.com/bminixhofer/nnsplit/blob/22ccdbe6e0a5a7befa8d8f232f6740a1002872b7/train/model.py#L50-L53

I would've expected an ONNX model with int8 input to error for e. g. `x = -10` because there is no entry for that in the embedding, but it is plausible that it's shifted appropriately internally.

[2021-02-09 13:23] marlon-br commented on #11
This would be great if you could add next languages: Catalan, Dutch, Farsi, Italian, Portugese, Spanish and Vietnamese
Thanks in advance!

[2021-02-09 18:52] bminixhofer commented on #11
Sure, I added them to the list. I am currently focusing on [nlprule](github.com/bminixhofer/nlprule) so this may take some time, I appreciate PRs :) Ideally models should be trained on 10M samples but less is ok too.

[2021-02-10 09:06] marlon-br commented on #11
@bminixhofer nlprule looks very interesting because you know, I use sentences splitting after ASR and since ASR is not perfect plus speaking language differs from language from Wikipedia sentence boundaries detection is also not perfect. For example the text after ASR looks like this:
"hey guys i'm gabby wallace and this is a go natural english lesson i got a great question from a viewer about pro

[2021-02-10 11:39] s3bk opened #30 "Performance of Rust crate"
I am getting fairly poor performance in release mode (CPU)… 2kB/s.

Is there a guide on using the GPU?

[2021-02-10 13:10] bminixhofer commented on #30
Hi, which bindings to nnsplit are you using? The Rust bindings can be quite slow unfortunately because batching in tract does not work if the length dimension is dynamic too (there can only be one dynamic dim). Python bindings should be very fast though with sufficiently large batch size.

[2021-02-10 13:16] s3bk commented on #30
Hello, I am indeed using it from Rust.
What would be needed to get a fixed length dimension in Rust?

[2021-02-10 13:26] bminixhofer commented on #30
Having a fixed length is not possible or at least not feasible. That would mean specifying ahead of time that you are e.g. always using 100 bytes as input. That means that you have to pad input which is shorter than that and have to truncate input which is longer. Padding shorter texts is possible (but will slow things down too) but truncating longer text loses information.

The proper fix is trac

[2021-02-10 13:51] s3bk commented on #30
Thanks for pointing me at `srx`. Much, much faster is indeed what I am looking for.
Maybe I can do something about https://github.com/sonos/tract/issues/313 … after reading into it.

[2021-02-10 13:53] bminixhofer commented on #30
That would be great! FYI, https://github.com/languagetool-org/languagetool/blob/master/languagetool-core/src/main/resources/org/languagetool/resource/segment.srx is the most useful SRX file for sentence segmentation that I know of.

I'll leave this open for now, performance of the Rust backend is indeed an issue.

[2021-02-13 13:46] bminixhofer commented on #27
This was https://github.com/rustwasm/wasm-pack/issues/881 (fixed by https://github.com/rustwasm/wasm-pack/pull/839). I'm using a dev version of wasm-pack in CI now, that should fix the issue.

[2021-02-13 15:21] bminixhofer commented on #27
`nnsplit_javascript_bg.js` is included as of v0.5.5. Thanks for reporting this!

[2021-02-13 15:21] #27 closed

[2021-02-24 05:09] BingLingGroup opened #31 "Can nnsplit use an http proxy?"
For some reasons I can't directly fetch the resources required by nnsplit. For example,

[code]

I'm pretty sure this is the local network issue because when I switch to other networks, it works.

So I'm wondering if there's any method to use an http proxy instead of directly sending a network request? I've tried to set the environment variables like `http_proxy` and `https_proxy` on windows and t

[2021-02-24 08:01] bminixhofer commented on #31
Hi, thanks for the issue! nnsplit can not use a proxy at the moment. It is not entirely trivial to implement because nnsplit uses the `reqwest` crate for requests so there would have to be some API to pass the relevant arguments from Python. In reqwest it is quite easy to configure a proxy though ([reference](https://github.com/seanmonstar/reqwest/blob/master/tests/proxy.rs)). I will not work on t

[2021-02-24 13:11] bminixhofer commented on #31
Let's keep this open. It's a valid issue.

[2021-02-25 12:15] marlon-br commented on #20
Hi, could you please take a look at the next split: `"let me guess you're the kind of guy that ignores the rules cause it makes you feel in control am i right you're not wrong you think that's cute do you think it's cute"`

the text is from random tiktok video: https://www.tiktok.com/foryou?is_copy_url=1&is_from_webapp=v2#/@lisaandlena/video/6922836710988500229

there should be something like: `"L

[2021-02-25 12:51] bminixhofer commented on #20
Hi, thanks for reporting this!

As you said, the issue here is likely that the model is just trained on written (mostly academic) language, not on spoken words. For example "am I right" probably barely ever occurs in Wikipedia at the start of a sentence so it makes sense it's not recognized.

Do you have any specific sources in mind? I considered using text from [Opus OpenSubtitles](https://opus.n

[2021-02-25 13:10] marlon-br commented on #20
i think the best way are social network comments, youtube comments and whatsapp\telegram etc. chats
for example: https://www.kaggle.com/dolfik/russian-telegram-chats-history
or https://lionbridge.ai/datasets/15-best-chatbot-datasets-for-machine-learning/ etc.

but anyway preprocessing is required

[2021-03-16 17:51] bminixhofer commented on #25
`onnxruntime` now has Python 3.9 wheels! So it was easy to fix now. As of Release 0.5.7, NNSplit supports Python 3.9.

[2021-03-16 17:51] #25 closed

[2021-03-23 15:13] loretoparisi opened #34 "node.js: unload wasm module"
Hello, thanks for this project!
I'm trying to unload the wasm module in my node code:

[code]

when running this script, the console keeps opened, since some resource must be released. I assume is the `tractjs` model that should be released in some way (likely using `destroy()`)

Thanks

[2021-03-26 17:40] bminixhofer commented on #34
Hi, thanks for this issue! Good point. A `destroy` method should definitely be added. Would you be willing to implement this? It should be fairly trivial.

I can do it myself but can't make any promises regarding the timeline as I'm currently focusing on nlprule.

[2021-05-20 16:20] marlon-br commented on #20
I recently discovered https://docs.nvidia.com/deeplearning/nemo/user-guide/docs/en/main/nlp/punctuation_and_capitalization.html from nVidia.

They use the next sources:
[code]
Output is completely is expected:

`"Let me guess, you're the kind of guy that ignores the rules cause it makes you feel in control. Am i right? You're not wrong? You think that's cute? Do you think it's cute?"`

[2021-05-27 09:49] bminixhofer commented on #20
Hi, thanks, this looks interesting as a starting point to distill further using the nnsplit models (since DistilBERT is still probably too slow).

[2021-05-31 11:56] albertovilla opened #45 "ImportError in Python (NNSplit)"
Hi, I was trying the simple example in Python from the documentation and I'm getting an `ImportError`:

[code]

When executing this example I'm getting the following error:

[code]

I have installed the packages in a new conda environment, executing `pip list installed` I have:

[code]

[2021-05-31 12:10] bminixhofer commented on #45
Hi, thanks for the issue!

I believe the problem is that the file is named `nnsplit.py`, can you try renaming it? I just tried using numpy in a file called `numpy.py` and get the same error, so I don't think this is a bug in nnsplit.

[2021-05-31 12:30] albertovilla commented on #45
Hi Benajamin, I think that was an issue on my side... I put that name on the file temporarily and I didn't change it :)
Now, the example works, thanks a lot.

[2021-05-31 12:30] #45 closed

[2021-06-02 17:56] bminixhofer commented on #30
There's been significant progress in tract and batched input is working now: https://github.com/sonos/tract/issues/383

Once it is released, I'll update it in nnsplit. It should lead to a > 20x Speedup of the Rust & Javascript bindings for batched input.

[2021-06-03 06:01] s3bk commented on #30
Nice, I need to check it out.

[2021-06-26 22:04] TakamotoAI opened #48 "Can't run it on macOS"
I want to give the module a try, but I am getting the following error by running the basic example on the readme. Module was installed with pip.

splitter = NNSplit.load("en")
AttributeError: type object 'NNSplit' has no attribute 'load'

[2021-07-02 08:00] bminixhofer commented on #48
Hi, sorry for the late response.

Which Python version are you using? And can you do `pip freeze | grep nnsplit` to check the NNSplit version?

It seems like an old version might have been installed. You can try installing the correct wheel from [here](https://pypi.org/project/nnsplit/0.5.7-post0/#files).

[2021-07-08 05:16] ziweiji opened #49 "Error when load model"
When I run this command:
`splitter = NNSplit.load('en')`
This error occured:
[code]

[2021-07-13 16:05] bminixhofer commented on #49
Hi, thanks for reporting this.

Which OS, Python version and nnsplit version do you use?

[2021-07-15 07:47] cjrh opened #50 "Security: update version of tract-onnx"
This security vulnerability:

https://rustsec.org/advisories/RUSTSEC-2021-0073.html

is fixed in prost==0.8.0, which is included in a recent new release of tract-onnx: https://github.com/sonos/tract/releases/tag/0.15.2

Would it be possible to do a new release with the tract-onnx dependency bumped?

[2021-07-15 08:57] marlon-br opened #51 "Simplified Chinese model does not detect sentence boundaries correctly"
Hi,

I have tried Simplified Chinese model on demo page and it seems that sentence boundary and tokens detection are not correct.

I have 2 ideas why that could happen:
1. Period in Chinese is 。
2. There are no white spaces between words. Possibly it is better to use something like https://github.com/voidism/pywordseg to split on words as a preprocessing step

It looks like issue 2. causes that to

[2021-07-15 15:19] bminixhofer commented on #50
Hi, thanks for letting me know! I'll bump it, and take that opportunity to implement https://github.com/bminixhofer/nnsplit/issues/30#issuecomment-853590478 since the required changes are released now.

[2021-07-23 14:21] bminixhofer commented on #30
I finally got around to updating this, the Rust bindings should be at least 10x faster as of v0.5.8 for sufficiently large input.

[2021-07-23 14:21] #30 closed

[2021-07-23 14:21] bminixhofer commented on #50
I was on holiday last week. Back now and as of v0.5.8 this is fixed!

[2021-07-23 14:21] #50 closed

[2021-08-24 16:52] virdiprateek opened #54 "Split Object to proper string"
How can I convert split object and get segmented sentences from a text (without line breaks or full stops)

[2021-08-24 16:55] #54 closed

[2021-10-19 03:25] v-yunbin opened #56 "ImportError: /lib64/libm.so.6: version `GLIBC_2.27' not found"
i run it on centos7 and python3.8.3，and i just want to run it on cpu not gpu. I met follows error：
[code]

[2021-11-30 01:41] conanchen commented on #11
will also for Traditional Chinese?

[2021-12-23 01:09] awhillas opened #59 "Control where the model is downloaded too?"
Hi,
This is more of a minor feature request. I'm trying to use NNSplit in a container, which has a read-only file system except for the `/tmp` dir. It would be groovy if one could provide a local path to load the model from/download to. Perhaps this is in the python interface already but i couldn't see it.

I know you can specify a path when calling `NNSplit()` but this gets more complcated as I'm

[2022-01-18 06:18] cjrh opened #64 "Python 3.10 wheel"
It seems there is no wheel for Python 3.10 on PyPI yet: https://pypi.org/project/nnsplit/#files

Is there anything I can do to help with 3.10 support?

[2022-01-18 13:20] bminixhofer commented on #49
Closing this as stale.

[2022-01-18 13:20] #49 closed

[2022-01-18 13:20] bminixhofer commented on #48
Closing this as stale.

[2022-01-18 13:20] #48 closed

[2022-01-18 13:23] bminixhofer commented on #59
Hi, sorry for being late here.

I am not sure I understand your request correctly. Are you asking for a way to customize the cache directory (currently always `~/.cache/nnsplit`? If not, please elaborate (maybe with an example).

[2022-01-18 13:24] bminixhofer commented on #64
Hi, thanks for letting me know! It should be fairly trivial to build wheels for 3.10. Will try it now, and update you here if there's any issues.

[2022-01-18 13:27] bminixhofer commented on #11
Hi, feel free to keep requests coming here (so I know what to prioritize when I circle back to this library). However, I am currently not training any new models. You can train models yourself here: https://github.com/bminixhofer/nnsplit/blob/main/train/train.ipynb.

[2022-01-19 00:04] cjrh commented on #64
Thank you anyway for looking so quickly!

[2022-03-06 05:45] synweap15 opened #71 "Unable to use own trained onnx models"
Hello and first of all: thank you for a great library!

I've tried to train my own model using an unusual input data format following the train Python notebook you've provided. However, after the training, when trying to load the custom model via `NNSplit.load("en/model.onnx")` call in python bindings, I get this:

`nnsplit.ResourceError: model not found: "en/model.onnx"`

I may be wrong, but it s

[2022-03-06 05:57] bminixhofer commented on #71
Hi, can you try `NNSplit("en/model.onnx")`? `.load` is like `.from_pretrained` in that it only loads the "official" models.

[2022-03-06 07:09] synweap15 commented on #71
:facepalm: That was it! I can confirm it works with `NNSplit("en/model.onnx")`. I've missed that there's no `.load` call in the examples.

Thank you!

[2022-03-06 07:09] #71 closed

[2022-03-10 13:41] synweap15 commented on #59
@bminixhofer seems like I've hit this case. I was trying to issue a `NNSplit.load("en")` on a server under a user with very limited access, the home dir of that user was not writable, and I was hitting `Permission error 13`.

Being able to optionally specify a cache directory optionally when loading would be great, and then I could point NNSplit to eg. `/tmp/` as @awhillas noted. Something like `N

[2022-07-22 11:00] wallies commented on #64
@bminixhofer onnxruntime have just pushed 3.10 wheels for the new version 1.12. Does this mean you can build wheels for 3.10 now or does it need a lot more work?

[2022-09-05 22:27] awhillas commented on #59
@bminixhofer yes, that is exactly what i'm suggesting.

[2022-09-22 12:10] tartaron opened #73 "Hi, pip install nnsplit doesn't work"
Hello, first of all, nnsplit is really cool, it's really great stuff. :)
I'd really like to run nnsplit on my local computer,  but an error occurs when I try to pip install nnsplit:

ERROR: Could not find a version that satisfies the requirement nnsplit (from versions: 0.0.1, 0.1.0, 0.1.1, 0.1.2, 0.1.3, 0.1.4, 0.2.0, 0.2.1, 0.2.2)
ERROR: No matching distribution found for nnsplit

can I get some h

[2022-10-29 21:32] ErrorBot1122 opened #74 "`AttributeError: 'InferenceSession' object has no attribute '_providers' Segmentation fault (core dumped)`"
**I was trying to segment sentences for my transcribing program, but I ran into this error when I first tried using it this.**

## **Full Error**
[code]

[2022-11-23 03:26] cjrh commented on #73
Which Python version are you using? If it's 3.10 see #64